# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pkl

# Env
.env
.env.local

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Data
*.csv
data/zeek_conn.csv
models/eval_report.json

# Docker
docker-compose.override.yml

# Logs
*.log
